task1_rfq_crm_automation/n8n_workflows/rfq-crm-automation.json
{
  "name": "rfq-crm-automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/rfq-intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        128
      ],
      "id": "f7279fbd-deeb-4e7f-8a7d-a08bbc33f3df",
      "name": "Webhook",
      "webhookId": "733d531f-bc8b-4936-b8e3-1d547e0016d9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-nano",
          "mode": "list",
          "cachedResultName": "GPT-5.4-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.body.message_body }}"
            },
            {
              "role": "system",
              "content": "=You are an RFQ intake assistant for AL ROUF LED Lighting Technology Co.\n\nYou will receive the free-text message body of an inbound RFQ (Request for Quotation).\nYour job is to extract intent signals that are NOT already captured in structured fields\nlike quantity, deadline, or product name.\n\nRespond ONLY with valid JSON — no markdown fences, no explanation, no extra text.\nUse exactly this structure:\n\n{\n  \"urgency\": \"one of: low / standard / high / urgent\",\n  \"key_requirements\": [\"short phrase\", \"short phrase\"],\n  \"summary\": \"one sentence summarizing what the customer is asking for\"\n}\n\nRules:\n- urgency: infer from language cues (e.g. \"ASAP\", \"urgent\", explicit deadlines mentioned in tone) — default to \"standard\" if no signal exists\n- key_requirements: list specific asks mentioned in the text that go beyond the basic quote request (e.g. \"bulk pricing\", \"delivery timeline\", \"installation support\", \"warranty terms\")\n- summary: one clear sentence, no more\n- If the message body is empty or has no extractable signal, return urgency \"standard\", empty key_requirements array, and a generic summary"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "36b481bc-9ee8-4d0e-8d29-2cf37e366cbb",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "DFlLKny2DbnWxWzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5cfc86e-405f-43c8-8277-ddd9edeb4635",
              "name": "company_name",
              "value": "={{ $('Webhook').item.json.body.company_name }}",
              "type": "string"
            },
            {
              "id": "3a245f55-a692-4f80-9e41-478faf6ad1c8",
              "name": "contact_name",
              "value": "={{ $('Webhook').item.json.body.contact_name }}",
              "type": "string"
            },
            {
              "id": "edacbb8b-0fe7-4973-8b86-9dcb11797a4f",
              "name": "contact_email",
              "value": "={{ $('Webhook').item.json.body.contact_email }}",
              "type": "string"
            },
            {
              "id": "16509dae-59fe-4849-89d1-8595dcac9251",
              "name": "contact_phone",
              "value": "={{ $('Webhook').item.json.body.contact_phone }}",
              "type": "string"
            },
            {
              "id": "5510c5cf-0e2a-4979-b3d6-a26ef20bef43",
              "name": "product_interest",
              "value": "={{ $('Webhook').item.json.body.product_interest }}",
              "type": "string"
            },
            {
              "id": "7c9aba2a-6865-43e6-9d2d-ebc7e1c0a969",
              "name": "quantity",
              "value": "={{ $('Webhook').item.json.body.quantity }}",
              "type": "string"
            },
            {
              "id": "13d4e627-d976-4256-9bcb-793d75ceda7b",
              "name": "project_location",
              "value": "={{ $('Webhook').item.json.body.project_location }}",
              "type": "string"
            },
            {
              "id": "1b18335a-ff17-4869-b143-c1d370bc9dc1",
              "name": "deadline",
              "value": "={{ $('Webhook').item.json.body.deadline }}",
              "type": "string"
            },
            {
              "id": "b590c8c2-002d-4017-b183-0d2b961bc566",
              "name": "attachments",
              "value": "={{ $('Webhook').item.json.body.attachments }}",
              "type": "string"
            },
            {
              "id": "e04e33b3-3627-4acc-a0c1-46672abdae67",
              "name": "extracted_intent",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        128
      ],
      "id": "7b8fa944-990c-4647-a9aa-eca5d8de98b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25f1df52-4240-4ced-ad78-ec11c058f337",
              "name": "crm_record_id",
              "value": "={{ $now.toMillis() }}-{{ $('Webhook').item.json.body.contact_email.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "14e3b4ca-8ff0-4166-8d5f-d7d2710655ed",
              "name": "created_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f477989d-187f-4ad9-ba60-184a270aa159",
              "name": "status",
              "value": "new",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -16
      ],
      "id": "949aaad1-f0ce-46cc-a735-6393d53b81e6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fileSelector": ": /data/mock_crm.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        768,
        128
      ],
      "id": "36ecfb8c-e329-410e-8291-4caa0637562f",
      "name": "Read/Write Files from Disk",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get existing records from the Read node — may be empty/failed if file didn't exist\nlet existingRecords = [];\n\nconst readNodeOutput = $('Read/Write Files from Disk').first();\n\nif (readNodeOutput && readNodeOutput.binary && readNodeOutput.binary.data) {\n  try {\n    const fileText = Buffer.from(readNodeOutput.binary.data.data, 'base64').toString('utf8');\n    existingRecords = fileText.trim() ? JSON.parse(fileText) : [];\n  } catch (e) {\n    existingRecords = [];\n  }\n}\n\n// Build the new CRM record from Edit Fields1's output\nconst source = $('Edit Fields1').item.json;\n\nconst newRecord = {\n  crm_record_id: source.crm_record_id,\n  created_at: source.created_at,\n  status: source.status,\n  company_name: source.company_name,\n  contact_name: source.contact_name,\n  contact_email: source.contact_email,\n  contact_phone: source.contact_phone,\n  product_interest: source.product_interest,\n  quantity: source.quantity,\n  project_location: source.project_location,\n  deadline: source.deadline,\n  attachments: source.attachments,\n  extracted_intent: source.extracted_intent,\n};\n\nexistingRecords.push(newRecord);\n\nreturn [{\n  json: newRecord,\n  binary: {\n    data: {\n      data: Buffer.from(JSON.stringify(existingRecords, null, 2)).toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'mock_crm.json',\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -16
      ],
      "id": "181a09c4-1f8b-450d-b2b3-8e7c80d39246",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/mock_crm.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1088,
        128
      ],
      "id": "117d2121-3a18-48e2-a71e-325887c2fe19",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-nano",
          "mode": "list",
          "cachedResultName": "GPT-5.4-NANO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional sales correspondence assistant for AL ROUF LED Lighting Technology Co.\n\nGiven structured RFQ details, write a brief, professional client reply acknowledging receipt of their request and confirming next steps. Do NOT provide actual pricing — a formal quotation will follow separately.\n\nRespond ONLY with valid JSON, no markdown fences:\n\n{\n  \"reply_en\": \"English version of the reply, 3-4 sentences\",\n  \"reply_ar\": \"Arabic version of the same reply, 3-4 sentences, professional Modern Standard Arabic\"\n}"
            },
            {
              "content": "=Customer: {{ $('Edit Fields1').item.json.contact_name }} from {{ $('Edit Fields1').item.json.company_name }}\nProduct interest: {{ $('Edit Fields1').item.json.product_interest }}\nQuantity: {{ $('Edit Fields1').item.json.quantity }}\nLocation: {{ $('Edit Fields1').item.json.project_location }}\nKey requirements: {{ $('Edit Fields1').item.json.extracted_intent.key_requirements.join(', ') }}\n\nWrite the acknowledgment reply now."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1232,
        -16
      ],
      "id": "5ef7eaca-0644-4d62-bd04-e1a232aaaac3",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "DFlLKny2DbnWxWzL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/alerts.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1808,
        128
      ],
      "id": "19886b56-0510-4496-bc3f-34ba7f55cbdf",
      "name": "Read/Write Files from Disk3",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "let alerts = [];\nconst readNodeOutput = $('Read Alerts File').first();\n\nif (readNodeOutput && readNodeOutput.binary && readNodeOutput.binary.data) {\n  try {\n    const fileText = Buffer.from(readNodeOutput.binary.data.data, 'base64').toString('utf8');\n    alerts = fileText.trim() ? JSON.parse(fileText) : [];\n  } catch (e) {\n    alerts = [];\n  }\n}\n\nconst source = $('Edit Fields').item.json;\n\nlet parsedReply = { reply_en: null, reply_ar: null };\ntry {\n  const replyText = $('Message a model1').item.json.output[0].content[0].text;\n  parsedReply = JSON.parse(replyText);\n} catch (e) {\n  parsedReply = { reply_en: null, reply_ar: null };\n}\n\nconst newAlert = {\n  alert_id: `alert-${Date.now()}`,\n  triggered_at: new Date().toISOString(),\n  type: 'new_rfq_received',\n  message: `New RFQ from ${source.company_name} (${source.contact_name}) — ${source.quantity} units of ${source.product_interest}`,\n  crm_record_id: $('Edit Fields1').item.json.crm_record_id,\n  draft_reply_en: parsedReply.reply_en,\n  draft_reply_ar: parsedReply.reply_ar,\n};\n\nalerts.push(newAlert);\n\nreturn [{\n  json: newAlert,\n  binary: {\n    data: {\n      data: Buffer.from(JSON.stringify(alerts, null, 2)).toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'alerts.json',\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -16
      ],
      "id": "908e5479-19bc-46ac-8a3a-95f9bff975df",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fileSelector": "/data/alerts.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1504,
        128
      ],
      "id": "a8e3fa5f-ffb9-46a8-adae-6144625e7efc",
      "name": "Read Alerts File",
      "alwaysOutputData": true,
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Read Alerts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Alerts File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "122b6528-570c-4dd4-8e0b-92c84bcbd608",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b900bbde375d2a61bb75da7da04178fecc3385e297d739c54aa4ad3807b4ddef"
  },
  "id": "ZEgikqamk6tgQb5g",
  "tags": []
}